### Project-specific ###
*.mp4
*.m4a
*.webm
*.mp3
*.jpg
.env
logs

### Node ###
node_modules
dist

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr
out/
clipsjni-java/src/main/generated/
!**/src/main/**/out/
!**/src/test/**/out/
!/.idea/codeStyles
!/.idea/copyright

### VS Code ###
.vscode/

### Mac ###
.DS_Store
